/* start your css here */
*{
    margin: 0;
    padding:0;
}
.ab p{
    font-size: 16px;
    font-weight: 700;
    padding: 9px;
}
.ab{
    border-bottom: 2px solid burlywood;
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    
}
.content{
    
    text-transform: uppercase;
  
    
}
.ex{
    padding: 9px;
    margin-bottom: 12px;
    border-bottom: 2px solid black;
    /* box-shadow: 0px 0px 0px 3px purple; */
    
}
.np{
   margin-bottom: 12px;  
}
.bo{
    margin-top: 19px;
    
    width: 100%;
    
    border-bottom: 2px solid black;
}
.b{
    margin-left: 12px;
    margin-bottom: 15px;
}
.na{
    font-weight: 650;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 12px;
}
li{
font-weight: 300;
    list-style: none;
    margin-left: 12px;
}